/* =============
    Base
============= */
base {
    display:grid
    grid-template-columns;
}

section-5 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1
}

h1 {
font-family: 'Karla', sans-serif;
font-family: 'Montserrat', sans-serif;
}

.container > div:nth-child(1n) {
    background-color: #d6a82a;	
  }
  
  .container > div:nth-child(3n) {
    background-color: #88d8b0;
  }
  
  .container > div:nth-child(2n) {
        background-color: #ff6f69;
  }
  
  .container > div:nth-child(4n) {
        background-color: #ffcc5c;
  }