/* =============
    Section-5
============= */

#section-5 {
    @include xl {
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas:
        "box1" "box2" "box3"
        "box4" "box5"  ".";
    }
    @include sm {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: 
        "box1"
        "box2"
        "box3"
        "box4"
        "box5";
        height: auto;
    }


#box1 {
    background-color: rgb(255, 180, 151);
    color: black;
    grid-area: rgb(255, 180, 151);
    text-align: center;
    padding: 10px;
}

#box2 {
    background-color: rgb(255, 180, 151);
    color: black;
    grid-area: rgb(255, 180, 151);
    text-align: center;
    padding: 10px;
}


#box3 {
    background-color: rgb(255, 180, 151);
    color: black;
    grid-area: rgb(255, 180, 151);
    text-align: center;
    padding: 10px;
}

#box4 {
    background-color: rgb(255, 180, 151);
    color: black;
    grid-area: rgb(255, 180, 151);
    text-align: center;
    padding: 10px;
}

#box5 {
    background-color: rgb(255, 180, 151);
    color: black;
    grid-area: rgb(255, 180, 151);
    text-align: center;
    padding: 10px;
}

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". section-5 .";
    >div{
        grid-area: section-5;
    }
 img {
     max-width: 100%;
 }

    #g1 { 
        text-align: center;}
    #g2 {
        text-align: center;}
    #g3 {
        text-align: center;}
    #g4 {
        text-align: center;}
    #g5 {
        text-align: center;}
}


#g1 {grid-area: g1; }
#g2 {grid-area: g2; }
#g3 {grid-area: g3; }
#g4 {grid-area: g4; }
#g5 {grid-area: g5; }