/* =============
    Section-5
============= */

#section-5 {
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". section-5 .";
    >div{
        grid-area: section-5;
    }
    .g1 { text-align: center;}
}

