/* =============
    Header
============= */


header {
  background-color: #103c49;
  color: white;
  display: grid;
  grid-gap: 3px;
  padding-bottom: 20px;

  #title { 
    display: none;
  }
  @include md {
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: auto;
  grid-template-areas: "l t .";

  #logo {
    display: grid;
    grid-column: 1 / 2;
  }
  #title {
    display: grid;
    grid-column: 2 / 3;
    font-family: 'Montserrat', sans-serif;
  }
}
}